/* 768-1024 */
@media (max-width: 1025px) {
    nav{
        display: none;
    }

    #menu_button{
        display: block;
    }
}

@media (max-width: 980px) {
    #catalog_bottom_inner{
        width: 616px;
    }
}